
:root {
    --bg-color: #121212;
    --text-color: #E0E0E0;
    --primary-color: #BB86FC;
    --secondary-color: #6c757d;
    --container-width: 700px;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Fira Code', monospace;
    line-height: 1.7;
    font-size: 16px;



    -webkit-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none; 
    user-select: none; 
}


.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 40px 20px;
}


a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--primary-color);
}


header {
    text-align: center;
    margin-bottom: 60px;
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.intro {
    font-size: 1.1rem;
    max-width: 500px;
    margin: 0 auto;
    color: var(--secondary-color);
}


section {
    margin-bottom: 50px;
}

h2 {
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-bottom: 12px;
    font-weight: 400;
}


.list-item {
    margin-bottom: 25px;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.item-header h3 {
    font-size: 1.1rem;
    font-weight: 700;
}

.item-header span {
    color: var(--secondary-color);
    font-size: 0.9rem;
    margin-bottom: 25px;
}


.list-item .role {
    color: var(--text-color); 
    font-weight: 90;        
    margin-top: 0px;
}

.list-item .description {
    color: var(--secondary-color);
    margin-top: -10px;
    font-size: 0.95rem;
}


#projects .list-item p {
    color: var(--secondary-color);
    margin-top: 5px;
    font-size: 0.95rem;
}

footer {
    text-align: center;
    margin-top: 60px;
    color: var(--secondary-color);
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 1.8rem;
    }

    .intro {
        font-size: 1rem;
    }
    
    .item-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .item-header span {
        margin-top: 5px;
    }
}